body{
  background-image: linear-gradient(white, white);
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;  
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.portraits-title{
 color: rgb(15, 12, 58);
 font-size: 32px;
 font-family:fantasy;  
}
.section-title{
    color:navy;
    text-shadow:0px 0px 1px white;
    font-size: 32px;
    font-weight: bold;
}
.horizontal-line{
    color:rgb(15, 12, 58);
}
.home-section-cards{
    height: auto;
    background-color: rgb(23, 4, 53);
    border-radius: 12px;

}
.main-headings{
  color: black;
}
.side-headings{
    color:goldenrod;
    font-weight: bold;
    text-align: center;
}
.main-paragraphs{
   color: grey;
}
.paragraphs{
    color:white;
    text-align: center;
}
.c1-heading{
   color: rgb(125, 165, 175);
   text-align: start;
}
.p1-paragraph{
    color: white;
    text-align: start;
}

.service-c-headings{
    color: goldenrod;
    font-size:xx-large;
    font-family: 'Courier New', Courier, monospace;
}
.service-c-paragraphs{
    color: white;
    font-size: large;
    font-family:"roboto";
    padding: 6px;
}
.service-section-cards{
    background-color: rgb(23, 4, 53);
    height:auto;
    border: 1px solid black;
}

.service-section-cards:hover{
    box-shadow: 0px 0px 12px navy;
}
.carousel{
    height: 400px;
    width: 400px;
    box-shadow: 0px 0px 2px black;
}
.sc-sizing-images{
    height:400px;
    width:400px;
    background-size:cover;
}

.last-card{
    position: relative;
    background-color: rgb(248, 253, 253);
    color:rgb(15, 12, 58);
    padding: 24px;
    border:0;
    border-top: 0.1px solid rgb(15, 12, 58);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.down-menu-section{
    position:absolute;
    top: 0;
}
.anchor-decoration{
    color:rgb(15, 12, 58);
    text-decoration: none;
    padding-right: 16px;
}

li{
   background-color:rgb(15, 12, 58);
   list-style-type:none;
   margin:18px;
   border-radius: 12px;
}
.last-para{
    color: rgb(15, 12, 58);
    font-size: 10px;
}
.videos{
    padding-top: 24px;
    height:150px;
    width:200px;
}
.comment-cards{
    background-color: rgb(184, 21, 21);
    border-top-left-radius: 50px;
    border-top-right-radius:50px;
    border: 4px solid black;   
    position: relative;
}
.commentor{
    height: 150px;
    width: 150px;
    background-size: cover;
    border:4px solid black;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.commentor-name{
    color:white;
    font-size: large;
    font-weight:bold;
}
.rating-stars{
   color: yellow;
}
.comment{
    color:lightgray;
}
.price{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.org-price{
    color: rgb(117, 98, 98);
    text-decoration: line-through;
    font-size: large;
}
.offer-price{
    font-size: large;
}
.about-section-cards{
    border: 0.1px solid black;
}
.about-section-card-headings{
   color: goldenrod;
   font-size: xx-large;
   font-weight: bold;
}
.about-section-card-paragraphs{
    font-size: large;
 }
 .about-svg{
    color: rgb(15, 12, 58);
 }

@media (max-width:576px){
    body{
        background-image: radial-gradient(white, white);
    }
    .portraits-title{
        font-size: 21px;
    }
    .section-title{
        color:navy;
        text-shadow:0px 0px 1px white;
        font-size: 20px;
        font-weight: bold;
    }
    .side-headings{
        font-size:16px;
        color:goldenrod;
        font-weight: bold;
    }
    .paragraphs{
        font-size: 14px;
    }
    .individual-event-images{
        height: 100px;
        width: 25%;
        margin:3px;
        border: 1px solid yellow;
        border-radius: 6px;
    }
    .service-c-headings{
        font-size:large;
        font-family: 'Courier New', Courier, monospace;
    }
    .service-c-paragraphs{
        font-size:small;
    }
    .videos{
        height: 180px;
        width: 250px;
    }
    .carousel{
        height: 350px;
        width: 300px;
        box-shadow: 0px 0px 2px black;
    }
    .sc-sizing-images{
        height:350px;
        width:300px;
        background-size:cover;
    }
    .about-section-card-headings{
        color: goldenrod;
        font-size: large;
        font-weight: bold;
     }
     .about-section-card-paragraphs{
         color: black;
         font-size: small;
      }
      .about-section-cards:hover{
        border: 0.1px solid rgb(15, 12, 58);
        box-shadow: 1px 1px  6px rgb(15, 12, 58);
      }
}
